//- Material Design
link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"
link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css"
script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"
script src="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"

//- Google Chart
script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" type="text/javascript" 

//- Put the navbar on top
ng-include[src="'partials/navbar.html'"]

//- Render UI views
div[ui-view=""]

//- Put navbar on bottom
ng-include[src="'partials/footer.html'"]