footer.navbar.navbar-inverse.navbar-fixed-bottom
    .container
        .navbar-text.pull-center
            strong &copy; 2015 Open Service Compendium
        //
            .navbar-text.pull-right
                strong Share On:
                a(href='http://www.facebook.com/sharer.php?u={{ window.location }}', target='_blank')
                    img(title='Facebook', alt='Facebook', src='https://simplesharebuttons.com/images/somacro/facebook.png', width='35', height='35')
                a(href='https://twitter.com/intent/tweet?url={{state.href(state.current.name,state.params,{absolute: true}) }}', target='_blank')
                    img(title='Twitter', alt='Twitter', src='https://simplesharebuttons.com/images/somacro/twitter.png', width='35', height='35')
                a(href='http://www.linkedin.com/shareArticle?mini=true&url={{state.href(state.current.name,state.params,{absolute: true}) }}', target='_blank')
                    img(title='LinkedIn', alt='LinkedIn', src='https://simplesharebuttons.com/images/somacro/linkedin.png', width='35', height='35')
                a(href='https://plus.google.com/share?url={{state.href(state.current.name,state.params,{absolute: true}) }}', target='_blank')
                    img(alt='Google Plus', title='Google Plus', src='https://simplesharebuttons.com/images/somacro/google.png', width='35', height='35')
                a(href='javascript:;', onclick='window.print()')
                    img(alt='Print', title='Print', src='https://simplesharebuttons.com/images/somacro/print.png', width='35', height='35')
                a(href='mailto:?subject=<Awesome Service &Body=<{{state.href(state.current.name,state.params,{absolute: true}) }}>', target='_blank')
                    img(alt='Email', src='https://simplesharebuttons.com/images/somacro/email.png', width='35', height='35')