nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(ui-sref="home") Open Service Compendium

        ul.nav.navbar-nav
            li
                a(ui-sref="services.list({category: 'vm'})") VMs
            li
                a(ui-sref="services.list({category: 'storage'})") Storage
            li
                a(ui-sref="services.info.statistics") Statistics
            li
                a(ui-sref="services.info.questionnaire") Questionnaire
            li
                a(ui-sref="services.info.filter") Filter