nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#") Open Service Compendium

        ul.nav.navbar-nav
            li
                a(ui-sref="home") Home

