nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(ui-sref="home") Open Service Compendium

        ul.nav.navbar-nav
            li
                a(ui-sref="services.list({filters: 'service_categories:vm'})") VMs
            li
                a(ui-sref="services.list({filters: 'service_categories:storage'})") Storage

