.container-fluid(ng-controller='compareCtrl')
    .row
        .col-md-10.col-md-offset-1
            h1 Compare services
            .alert.alert-warning(ng-show='error_message', role='alert') Warning: {{ error_message }}
    .row
        .form-group.col-md-3.col-md-offset-1
            label(for='sel1') Select a property:
            select#sel1.form-control(ng-model='select', ng-change='addProperty()')
                option(ng-repeat='property in properties') {{ property }}
    .row
        .col-md-10.col-md-offset-1
            table.table.table-striped
                tr
                    th.col-md-4 Property
                    th.col-md-4(ng-repeat='service in checkboxList')
                        | {{ service.service_name }}
                tr(ng-repeat='property in selectedProperties')
                    td.col-md-4 {{ property }}
                    td.col-md-4(ng-repeat='service in checkboxList')
                        | {{ service[property] }}
