:verbatim
   <html>
   <body>
   <center>
   <div ng-controller="compareCtrl"><b>{{ test }} <b> and the view compare.jade</div><br>
   <b> TODO2: Get the list of the checked checkbox and make a kind of table where you compare the checked services. the variable "data" contain the json file. You can check the work of fabian and maybe use his bootstrap.
   <br> </b>

   <div ng-controller="compareCtrl">{{ data}}</div>
