:verbatim
 <!--TODO3: In detail.cofee get the name of the selected service. Than create a filter ( google anglularjs filter) and show all the details of the service. "data" variable contain all the json data, you can us http://jsonviewer.stack.hu/ it will make a clear view.<br> You can also check  the work of fabian it can maybe help you or his bootstrap -->
   <html>
   <body>
   <center>
   <div ng-controller="detailCtrl"><b>this is the {{ id }} and the view detail.jade <b></div><br>
   <div ng-controller="detailCtrl">{{data}}</div>
