// TODO3: In detail.cofee get the name of the selected service. Than create a filter ( google anglularjs filter) and show all the details of the service. "data" variable contain all the json data, you can us http://jsonviewer.stack.hu/ it will make a clear view.<br> You can also check  the work of fabian it can maybe help you or his bootstrap
.container-fluid(ng-controller='detailCtrl')
  .row
    .col-md-10.col-md-offset-1
      h1 {{ selectedService.service_name }}
      .alert.alert-warning(ng-show='error_message', role='alert') Warning: {{ error_message }}
  .row
    .col-md-10.col-md-offset-1
      table.table.table-striped
        tr
          th.col-md-4 property
          th Details
        tr
          td.col-md-4 Name
          td
            | {{ selectedService.service_name }}
        tr
          td.col-md-4 Service model
          td
            | {{ selectedService.cloud_service_model }}
        tr
          td.col-md-4 Service Category
          td
            | {{ selectedService.service_category }}
        tr
          td.col-md-2 Available Offline
          td
            | {{selectedService.can_be_used_offline === true ? "yes" : "no"}}
        tr
          td.col-md-4 is_billed
          td
            | {{ selectedService.is_billed }}
        tr
          td.col-md-4 payment_options
          td
            | {{ selectedService.payment_options }}
        tr.accordion-toggle(data-toggle='collapse', data-target='#collapseOne')
          td.col-md-4 compatible_browser
          td.col-md-8 Options
        tr
          td.hiddenRow(colspan='6')
            #collapseOne.accordian-body.collapse
              ul
                li(ng-repeat='x  in selectedService.compatible_browsers')
                  | {{'browser:' +x.browser }}
                  br
                  | {{'version:' + x.min_version }}
        tr
          td.col-md-4 established_in
          td
            | {{ selectedService.established_in }}
        tr
          td.col-md-4 status
          td
            | {{ selectedService.status }}
        tr(ng-hide='Var')
          td.col-md-4 is_charged_by
          td
            | {{ selectedService.is_charged_by }}
        tr(ng-hide='Var')
          td.col-md-4 documentation
          td
            | {{ selectedService.documentation }}
        tr(ng-hide='Var')
          td.col-md-4 past_release_notes
          td
            | {{ selectedService.past_release_notes }}
        tr(ng-hide='Var')
          td.col-md-4 feedback_page
          td
            | {{ selectedService.feedback_page }}
        tr(ng-hide='Var')
          td.col-md-4 is_protected_by
          td
            | {{ selectedService.is_protected_by }}
        tr
          td.col-md-4 storage_features
          td
            | {{ selectedService.storage_features.platform_compatibility.compatible_operating_systems[0].operating_system }}
            br
            ul
              li(ng-repeat='y in selectedService.storage_features.platform_compatibility.mobile_devices')
                | {{ y}}
                br
        tr(ng-hide='Var')
          td.col-md-4 storage_properties
          td
            | {{ selectedService.storage_properties }}
        tr(ng-hide='Var')
          td.col-md-4 security
          td
            | {{ selectedService.security }}
      button(ng-click='toggle()') {{toggleText}}