:verbatim
   <html>
   <body>
   <center>
   <div ng-controller="detailCtrl"><b>{{ dserviceName}} and the view detail.jade <b></div><br>
   <b> TODO3: In detail.cofee use "ui router parameters" to get the name of the selected service. Than create a filter ( google anglularjs filter) and show all the details of the service. "data" variable contain all the json data, you can us http://jsonviewer.stack.hu/ it will make a clear view.<br> You can also check the work of fabian it can maybe help you or his bootstrap<br><br> </b>
   <div ng-controller="detailCtrl">{{ data}}</div>
