div(layout="column", style="margin-bottom:50px;")
    div(flex, style="text-align: center;")
        span Service Property Popularity (Percentage of property providence among cloud services)
    div(flex, layout="row", style="margin: 0 auto; width: 60%")
        div(flex='80', style='margin-right: 20px;')
            md-slider.md-primary(ng-model='propertyPercentage', min='0', max='100', aria-label='blue')
        div(flex='20', layout='', layout-align='center center')
            input(flex='', type='number', ng-model='propertyPercentage', aria-label='blue')

    div(flex, style="text-align: center;")
        span Uniform Distribution Ratio of Enumeration Properties
    div(flex, layout="row", style="margin: 0 auto; width: 60%")
        div(flex='80', style='margin-right: 20px;')
            md-slider.md-primary(ng-model='uniDistributionRatio', min='0', max='1', step='0.01', aria-label='blue')
        div(flex='20', layout='', layout-align='center center')
            input(flex='', type='number', ng-model='uniDistributionRatio', min='0', max='1', step='0.01', aria-label='blue')

    div(flex, style="text-align: center;")
        span Year of Establishment of the Cloud Service
    div(flex, layout="row", style="margin: 0 auto; width: 60%")
        div(flex='80', style='margin-right: 20px;')
            md-slider.md-primary(ng-model='establishmentYear', min='{{minYear}}', max='{{maxYear}}', aria-label='blue')
        div(flex='20', layout='', layout-align='center center')
            input(flex='', type='number', ng-model='establishmentYear', aria-label='blue')

    md-divider

    md-list(layout="row", layout-wrap="", flex, style="padding: 0 5%;")
        md-list-item(flex="25", ng-repeat="property in questionnaireProperties | orderBy: 'name'")
            md-checkbox(ng-click="onPropertySelChange(property)")
            p {{ property.name }}
            .md-secondary(ng-show="showPropertyValues(property)", ng-click="getValuesListDialog(property)", aria-label="values", style="height:100%;")
                i.material-icons(style="line-height:2;") menu
     
    br 

    div.service-list.row(layout="row", layout-wrap="", style="padding: 0 5%;")
        div.col-lg-2.col-md-3.col-sm-4.col-xs-6(ng-repeat="service in services | filter: matchToProperties")
            div.service-item(ui-sref='services.detail(service.uiRouterParams)', style="background-color: #5cb85c;")
                span {{ service.service_name }}