div(ng-hide="filterShown", layout="row", layout-align="center center", layout-wrap)
    md-button.md-raised.md-primary(ng-click="showFilter()") Show Services


div(ng-show="filterShown")
    md-button(ng-click="showPrev(questions.length)") &laquo; Back

    table
        tr
            th Properties
            th Values
        tr(ng-repeat="property in filterProperties", ng-if="isInShownProperties(property)")
            td {{ property.key }}
            td(ng-if="property.uniqueAnswer")
                md-radio-group(layout="row", ng-model="property.selectedValue")
                    md-radio-button(ng-repeat="(key, value) in property.values", ng-value="value.description", 
                        ng-click="addSelection(filterProperties, property, key)") {{ value.description }}
            td(ng-if="!property.uniqueAnswer", layout="row", layout-wrap)
                md-checkbox(flex="20", ng-repeat="(key, value) in property.values", ng-model="value.selected") {{ value.description }}
        tr(style="text-align: center;")
            td(colspan="2")
                md-button.md-icon-button(ng-click="toggleDropdown()")
                    i.material-icons {{ dropdownIcon }}


    md-divider

    div.service-list.row(layout="row", layout-wrap="", style="padding: 10px 5% 50px;")
        div.col-lg-2.col-md-3.col-sm-4.col-xs-6(ng-repeat="service in filteredServices | filter: matchServices")
            div.service-item(ui-sref='services.detail(service.uiRouterParams)', style="background-color: rgb(63,81,181);")
                span {{ service.service_name }}