:verbatim
  <html>
  <body>
  <div class="jumbotron">
      <center>Select A Category
        <div ng-controller="ServicesController" class="wrap">
          <select ng-model="selectedValue" ng-change="loadData()">
            <option value="1">Cloud Storage</option>
            <option value="2">Cloud Infrastructure (VM)</option>
            <option value="3">Cloud  Category 3</option>
            <option value="4">Cloud  Category 4</option>
            <option value="5">Cloud  Category 5</option>
          </select><br/>
          <input type="checkbox" name="os" value="linux"/>Linux<br/>
          <input type="checkbox" name="os" value="windows"/>Windows <br/>
          <br>more properties
          <br/>
          <a href="#/services">Search</a>
        </div>
      </center>
    </div>
  </body>
  </html>