:verbatim
  <center>
    <div class="jumbotron">
      <h1>Welcome to the OSC.</h1>
      <p class="lead">Please select the cloud service model you are looking for</p>
      <a class="btn btn-lg btn-primary" href="#/services/iaas/">IaaS</a>
      <a class="btn btn-lg btn-primary" href="#/services/saas/">SaaS</a>
    </div>
  </center>
