center
  .jumbotron
    h1 Welcome to the OSC.
    p.lead Please select the cloud service model you are looking for
    a.btn.btn-lg.btn-primary(href='#/services/iaas/') IaaS
    a.btn.btn-lg.btn-primary(href='#/services/saas/') SaaS
    a.btn.btn-lg.btn-primary(href='#/services/paas/') PaaS
