center
  .jumbotron
      h1 Open Service Compendium
      p.lead Get cloud service information
      a.btn.btn-lg.btn-primary(ui-sref="services.list({category: 'vms'})") VMs
      | &nbsp;
      a.btn.btn-lg.btn-primary(ui-sref="services.list({category: 'storage'})") Storage