:verbatim
  <html>
  <body>
  <div class="jumbotron">
      <center>Choose A Category1
        <div ng-controller="ServicesController" class="wrap">
          <select ng-model="selectedValue" ng-change="loadData()">
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
            <option value="3">Category 3</option>
            <option value="4">Category 4</option>
            <option value="5">Category 5</option>
          </select><br/>
          <input type="checkbox" name="os" value="linux"/>Linux<br/>
          <input type="checkbox" name="os" value="windows"/>Windows <br/>
          <br>more propertis
          <br/>
          <a href="#/services">Select</a>
        </div>
      </center>
    </div>
  </body>
  </html>