.container
    .row
        h1
            | Filters&nbsp;
            a.btn.btn-success(data-ng-click='addFilter()')
                i.glyphicon.glyphicon-plus

    .row(ng-repeat="filter in filters | orderBy : filter.property" ng-include="filter.filterView" ng-model="filter" class="filter-row")

    div(ng-repeat='(filtered, services) in categorizedServices | groupBy: isFiltered ' ng-if='filters')
        .row
            h1(ng-if='filtered === "false"') Matching Services
            h1(ng-if='filtered === "true"') Incompatible Services

        .row
            div.col-lg-2.col-md-3.col-sm-4.col-xs-6(ng-repeat='service in services | orderBy: service_name')
                .service-list-item(ng-class="{filtered: isFiltered(service)}" ui-sref='services.detail(service.uiRouterParams)')
                    span {{ service.service_name }}