h3 {{ question.q }}

div(ng-if="question.uniqueAnswer")
    md-radio-group
        md-radio-button(ng-repeat="(key, value) in question.values", ng-value="value.description", 
            ng-click="addSelection(question, key)") {{ value.description }}

div(ng-if="!question.uniqueAnswer")
    md-checkbox(ng-repeat="(key, value) in question.values", ng-model="value.selected") {{ value.description }}

div(style="width: 100%")  
    md-button(ng-hide="question.key == 'Service Categories'", 
        ng-click="showPrev(questions.indexOf(question))", style="float:left;") &laquo; Back
    md-button(ng-hide="question.key == 'Storage Properties'", 
        ng-click="showNext(questions.indexOf(question))", style="float:right;") Next &raquo;