h3 {{ question.q }}

div(ng-if="!categoryChosen", layout="row", layout-wrap="", style="padding: 0 calc((100% - 604px)/2);")
    div.service-category(ng-click="setServiceCategory('storage')", style="background-color: rgb(63,81,181);")
        span Storage
    div.service-category(ng-click="setServiceCategory('vm')", style="background-color: rgb(63,81,181);")
        span Virtual Machine

div(ng-if="question.uniqueAnswer && categoryChosen")
    md-radio-group(ng-model="question.selectedValue")
        md-radio-button(ng-repeat="(key, value) in question.values", ng-value="value.description", 
            ng-click="updateSelection(questions, question, key)") 
            span(ng-if="key != 'None'") {{ value.description }} ({{ value.restServices }})
            span(ng-if="key == 'None'") {{ value.description }}

div(ng-if="!question.uniqueAnswer && categoryChosen")
    md-checkbox(ng-repeat="(key, value) in question.values", ng-model="value.selected",
        ng-change="updateSelection(questions, question, key)") {{ value.description }} ({{value.restServices}})

div(ng-show="categoryChosen", style="width: 100%")  
    md-button(ng-hide="questions.indexOf(question) == 0", 
        ng-click="showPrev(questions.indexOf(question))", style="float:left;") &laquo; Back
    md-button(ng-hide="questions.indexOf(question) == 5", 
        ng-click="showNext(questions.indexOf(question))", style="float:right;") Next &raquo;