center(ng-if="!(static || dynamic)")
    .jumbotron(style='padding-top:0px', id='questionnnaire')
        div(align='right')
            md-button.md-icon-button.md-primary(aria-label='Settings', ng-click='showInfo()')
                i.material-icons info
        h2 How do you want to choose your cloud service?
        //p.lead Get cloud service information
        br
        a.btn.btn-lg.btn-primary(ng-click="showQuestionnaire('dynamic')", style='width: 150px') Dynamically
        | &nbsp;
        a.btn.btn-lg.btn-primary(ng-click="showQuestionnaire('static')", style='width: 150px') Statically

div(ng-if="static || dynamic")
    h2 Static Questionnaire

    div(ng-repeat="question in questions", ng-if="currentQuestion == question.key")
        div(ng-include="'question.html'")

    div(layout="row", layout-align="center center", layout-wrap)
        md-button.md-raised.md-primary(ui-sref="services.info.filter({questions: questions, selectedValues: selectedValues})") Show Services ({{ filteredServices.length }})

    //- div(ng-include="'filterOverview.html'")