:verbatim
	<div ng-controller="ServicesController">
	<!-- ui-view will load the selected view, detail.html or compare.html -->
	<div ui-view></div>
	<div ng-show="state.current.name == 'services'">
			<div class="container-fluid">
				<div class="col-md-4 col-md-offset-1">

					<table class="table">
						<tr>
							<th style="text-align: right;">Cloud Service Model:</th>
							<td>
							  <div>
								<label class="radio-inline"><input ng-model="type" type="radio" name="model" value="iaas" id="check">IAAS</label>
								<label class="radio-inline"><input ng-model="type" type="radio" name="model" value="saas" id="check">SAAS</label>
								</div>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Operating System:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Windows</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Linux</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Interfaces:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">REST</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">SOAP</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">XMLRPC</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Payment:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Credit Card</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">PayPal</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Type:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Prepaid</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Postpaid</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Period:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Monthly</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Annualy</label>
							</td>
						</tr>
					</table>


				</div>

				<div class="col-md-6" style="border-left: 1px solid #E7E7E7">

						<a ui-sref="services.compare({ id: checkboxList[0].service_name , other_id: checkboxList[1].service_name })">
						<button class="btn btn-default pull-left" ng-disabled="canNotCompare()">
						<div ng-show="checkboxList[1]== null">Select two services for comparison</div>
						<div ng-show="checkboxList[1]!= null">Compare</div>
						</button>
						</a>
					<br><br><br>

	   				<b>{{serviceType}}</b>
					<ul ng-model="services" class="list-unstyled">
						<li ng-repeat="service in services">
							<label class="checkbox-inline">
							<input type="checkbox" ng-disabled="canNotSelect(service.uri)" value={{service.service_name}} id={{service.service_name}} checklist-model="checkboxList" checklist-value="service"/>
							<a ui-sref="services.detail({ id: service.service_name })" ng-click="selectService(service)">{{ service.service_name }}</a></label>
						</li>
					</ul>
				</div>
			</div>
	</div>
		</div>
