:verbatim
	<div ng-controller="ServicesController">
	<!-- ui-view will load the selected view, detail.html or compare.html -->   
		<div ui-view></div>
			<div class="container-fluid">
				<div class="col-md-4">

				<div ng-show="checkboxList[0]!= null">
					<a ui-sref="services.compare({ id: checkboxList[0] , other_id: checkboxList[1] })">
					<button class="btn btn-default pull-left" ng-disabled="canNotCompare()">Compare  {{checkboxList[0]}} and {{checkboxList[1] }}<span class="glyphicon"></span></button>
					</a><br>
					</div>

					<table class="table">
						<tr>
							<th style="text-align: right;">Cloud Service Model:</th>
							<td>
							  <div>
								<label class="radio-inline"><input ng-model="type" type="radio" name="model" value="iaas" id="check">IAAS</label>
								<label class="radio-inline"><input ng-model="type" type="radio" name="model" value="saas" id="check">SAAS</label>
								</div>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Operating System:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Windows</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Linux</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Interfaces:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">REST</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">SOAP</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">XMLRPC</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Payment:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Credit Card</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">PayPal</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Type:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Prepaid</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Postpaid</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Period:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Monthly</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Annualy</label>
							</td>
						</tr>
					</table>

					

				</div>

				<div class="col-md-8" style="border-left: 1px solid #E7E7E7">
				
	   				<b>{{serviceType}}</b>
					<ul ng-model="services" class="list-unstyled">
						<li ng-repeat="service in services">
							<label class="checkbox-inline">
							<input type="checkbox" ng-disabled="canNotSelect(service.service_name)" value={{service.service_name}} id={{service.service_name}} ng-click="toggleSelection(service.service_name)"/>
							<a ui-sref="services.detail({ id: service.service_name })">{{ service.service_name }}</a></label>
						</li>
					</ul>
				</div>
			</div>
		</div>
