:verbatim
	<div ng-controller="ServicesController">
	<!-- ui-view will load the selected view, detail.html or compare.html -->   
		<div ui-view></div>
			<div class="container-fluid">
				<div class="col-md-4">
					<table class="table">
						<tr>
							<th style="text-align: right;">Cloud Service Model:</th>
							<td>
								<label class="radio-inline"><input type="radio" name="model" value="" id="check">IAAS</label>
								<label class="radio-inline"><input type="radio" name="model" value="" id="check">SAAS</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Operating System:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Windows</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Linux</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Interfaces:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">REST</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">SOAP</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">XMLRPC</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Payment:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Credit Card</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">PayPal</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Type:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Prepaid</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Postpaid</label>
							</td>
						</tr>
						<tr>
							<th style="text-align: right;">Billing Period:</th>
							<td>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Monthly</label>
								<label class="checkbox-inline"><input type="checkbox" name="" value="" id="check">Annualy</label>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-8" style="border-left: 1px solid #E7E7E7">
				<a ui-sref="services.compare({ id: 'FirstSelectedService' , other_id: 'SecondSelectedService' })">Compare</a>
					<ul ng-model="services" class="list-unstyled">
						<li ng-repeat="service in services">
							<label class="checkbox-inline"><input type="checkbox" name="" value="serviceNameOrNumber" id="check">
							<a ui-sref="services.detail({ id: service.service_name })">{{ service.service_name }}</a></label>
						</li>
					</ul>
				</div>
			</div>
		</div>