.jumbotron Choose A Category
    .wrap(ng-controller='MainCtrl')
        select(ng-model='selectedValue', ng-change='loadData()')
            option(value='1') Category 1
            option(value='2') Category 2
            option(value='3') Category 3
            option(value='4') Category 4
            option(value='5') Category 5

        .main(ng-show='selectedValue != null')
            center
                h2 Results For Category  {{ selectedValue }}

        .main
            ul.cloudlist
                li.service(ng-repeat='service in services', ng-click='select(service)')
                    .info
                        h3 {{service.service_name}}
                        b {{service.status_page}}
                        b Is Billed : {{service.is_billed.billing_term._identifier}}