div(ng-controller="ServicesController")

    h1 Services list

    ul(ng-model="services")
        li(ng-repeat="service in services")
            a
                | {{ service.service_name }}

    div(ui-view)